body.light{
    --background-color: white;
    --background: rgba(233, 217, 233, 0.256);
    --color: black;
}
body.dark{
    --background-color: #001529;
    --background: rgb(233 217 233);
    --color: white;
}

.chatRoomContent .ant-layout{
    background-color: var(--background-color);
}
.chatRoomContent .boxHeader{
    color: var(--color);
}
.chatRoomContent .boxHeader h3{
    color: var(--color);
}
.dark .accountDetail p{
    color: rgba(255, 255, 255, 0.499);
}
.messageList{
    background-color: var(--background-color);
}
.sendMessage{
    background-color: var(--background-color);
}
.messageBox .ant-avatar-circle{
    margin-top: 8px;
    margin-right: 12px;
    margin-left: 45px;
}
.chatRoomContent .messageBox .ant-col-8{
    margin-top: 3px;
}
.messageBox .messageList{
    height: 90%;
    height: 80vh;
    overflow-y: scroll;
}
.inputMessage .ant-input-affix-wrapper{
    border-radius: 35px;
    height: 43px;
    margin-left: 23%;
    margin-bottom: 10px;
}
.inputMessage .ant-input-affix-wrapper>input.ant-input{
    font-size: 18px;
}
.sendMessage .ant-row{
    justify-content: center
}
.ant-btn-default{
    margin-left: 85%;
    border: none;
}
.anticon-send{
    font-size: 25px;
    color: rgb(142, 11, 142);
    margin-top: 5px;
}
.ant-drawer-content, .ant-drawer-header{
    background-color: var(--background-color);
}
.ant-drawer-close, .ant-drawer-close:hover{
    color: var(--color)
}
.informationSider .ant-layout-sider-trigger{
    display: none;
}
.informationAccount{
    border-bottom: 1px solid rgb(233 217 233);
    background-color: rgb(233 217 233);
}
.informationAccount .ant-avatar{
    margin-left: 146px;
    margin-top: 25px;
}
.informationAccount h1{
    margin-left: 110px;
    margin-top: 10px;
    font-size: 25px;
}

.informationExternal .informationIcon{
    font-size: 30px;
    margin-left: 30px;
    margin-top: 22px;
    color: var(--color)
}
.informationExternal .informationSpan{
    font-size: 18px;
    margin-left: 30px;
    margin-top: 30px;
    color: var(--color)
}

@media screen and (max-width: 1200px){
    .ant-btn-default{
        margin-left: 125%;
    }
    .inputMessage .ant-input-affix-wrapper{
        margin-left: 33%;
        width: 100%;
    }
}

@media screen and (max-width: 992px){
    .inputMessage .ant-input-affix-wrapper{
        margin-left: 50%;
        width: 84%;
    }
}
